ingored_files
frontend/.parcel-cache
dist
node_modules
backend/venv/
backend/server/item/__pycache__/
backend/server/root/__pycache__/
backend/server/item/migrations/__pycache__/
.idea/
*.pyc
*~
*.swp
*.py[co]
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
*.log
*.pot
frontend/src/webfonts/
backend/server/db.sqlite3
