@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

:root {
  --darkblue: #3b3b57;
  --red: #ea3769;
  --textcolor: #2f2f4d;
  --darkgrey: #999999;
  --lightgrey: #c4c2d7;
}

body {
    background-image: linear-gradient(to right bottom, #bd4b8d, #b2539d, #a35baa, #9263b5, #7e6bbe);
}

.main__window {
    width:80%;
    background-color: white;
    margin: 1rem auto;
    border-radius: 24px;
    min-height: 100vh;
  
}


/* COMPONENT  top section */

.top__bar{
    width:100%;
    height:7rem;
    background-color:rgb(255, 255, 255);
    border-radius: 24px 24px 0px 0px;
    position: relative;
}
.logo {
    position:absolute;
    left: 10%;
    top: 50%;
    height:80px;
    transform: translate(-50%,-50%);
}


/* SUB-COMPONENT  search bar */
.search__container{
    position:absolute;
    padding:4px 0px 4px 8px;
    top: 50%;
    transform: translateY(-50%);
    left: 40%;
    transform: translateX(-50%);
    border-radius:8px;
    width:300px;
    display:flex;
    align-items:center;
    border: 1px solid rgb(234, 234, 241);
}

.search__container  input {
    border:none;
    outline:none;
    width:90%;
}
.search__container input::placeholder {
    color:var(--lightgrey);
    font-size:0.8rem;
    font-weight:300;
}

.search__container  button {
    border:none;
    background:transparent;
    cursor: pointer;
    color: var(--lightgrey)
}


/* SUB-COMPONENT  cart container */
.user__account__container{
    width: 8%;
    position:absolute;
    right:8%;
    -webkit-box-shadow: 1px 2px 17px 4px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 1px 2px 17px 4px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
}
.cart__container {
    position:absolute;
    top:0%;
    right: 20%;
    background-color: white;
    width:15%;
    -webkit-box-shadow: 1px 2px 17px 4px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 1px 2px 17px 4px rgba(0, 0, 0, 0.11);
    border-radius: 8px;

}
.cart__details{
    background-color: var(--darkblue);
    display:flex;
    justify-content:space-between;
    align-items:center;
    color: var(--lightgrey);
    padding:8px 8px;
    font-size: 0.8rem;
    font-weight:300;
}

.btn__kart{
    display:block;
    position: relative;
    background-image: linear-gradient(to right, #6c6fc7c5, #9862be, #bd52ab, #d7418f, #e7386cc9);
    border:none;
    cursor: pointer;
    font-size:0.9rem;
    font-weight: 400;
    text-transform: uppercase;
    color:white;
    width:90%;
    border-radius: 12px;
    padding: 6px 0px;
    letter-spacing: 1px;
    margin: 10px auto;
    z-index: 2;
}

.btn__kart::before {
    content: '';
    position: absolute;
    border-radius: 12px;
    top: 0;
    left: 0;
    width:0%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    background: rgb(231,56,109);
    background: linear-gradient(90deg, rgb(255, 0, 76) 0%, rgb(53, 56, 255)100%);
    transition: all 0.4s;
  }
  
.btn__kart:hover:before {
    opacity: 1;
    width: 100%;
}



/* COMPONENT  middle section */
.product__detail{
    width: 100%;
    height:30rem;
    background-image: linear-gradient(to bottom, #f6f6fa, #f8f8fb, #f9f9fc, #fbfbfc, #fcfcfd, #fcfcfc, #fbfbfc, #fbfbfb, #f9f9f9, #f6f6f7, #f3f4f5, #f0f2f3);
    position: relative;

}

.product__picture {
    width:35rem;
    height:100%;
    position: absolute;
    bottom : 0;
    left: 11%;
    overflow: hidden;
   
}
.picture__container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display:flex;
    align-items:center;
    justify-content: space-around;
}


.product__picture img {
    margin-top:10rem;
    width:95%;
    height:95%;
    object-fit: scale-down;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(189, 189, 189));
    filter: drop-shadow(5px 5px 10px rgba(143, 143, 143, 0.705));
}


.product__info{
    display:flex;
    height: 100%;
    flex-direction:column;
    position:absolute;
    justify-content: space-around;
    /* background-color: red; */
    right:6%;
    width:40%;
    top: 15%;
}

.product__title {
    font-size:43px;
    font-weight: 600;
    display:block;
    line-height:43px;
    color: var(--darkblue) 
}

input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  }



.product__rating .hot {
    color: var(--red);
    margin-right: 0.1rem;

}

.product__rating .mild {
    color: var(--darkblue);
    margin-right: 0.1rem;

}

.product__rating span{
    font-size: 0.9rem;
    font-weight:500;
    margin-left: 1rem;
}


.product__description {
    width:60%;
    font-size: 0.7rem;
    font-weight: 300;
    letter-spacing: 1px;

}

.product__qty__form{
    width:60%;
    flex-direction:column;
}

.product__price__qty{
    display: flex;
    justify-content: space-between;
}
.input__container{
    display:flex;
    align-items:center;
    width:fit-content;
    box-shadow: 1px 2px 17px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 2px 17px 4px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 1px 2px 17px 4px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
}


.product__qty__form input {
    width:3.2rem;
    border:none;
    border-left:1px solid rgba(0, 0, 0, 0.116);
    border-right:1px solid rgba(0, 0, 0, 0.116);
    height:1.7rem;
    text-align: center;
    font-size:1rem;
    font-weight: 600;
    user-select:none;
    display:block;
    
}

.product__price {
    display:block;
    font-size:1.3rem;
    font-weight: 300;
}
.product__price span {
    font-weight: 500;
    color:var(--red)
}


.form__bnt__qty{
    width:30px;
    height:1.7rem;
    border:none;
    outline: none;
    background: white;
    cursor: pointer;
    font-size:1.2rem;
    font-weight:200;
    border-radius: 6px;
}



.btn__form__add{
    margin-top: 0.5rem;
    display:block;
    background-image: linear-gradient(to right, #6c6fc7c5, #9862be, #bd52ab, #d7418f, #e7386cc9);
    border:none;
    cursor: pointer;
    font-size:0.9rem;
    font-weight: 400;
    text-transform: uppercase;
    color:white;
    width:100%;
    border-radius: 12px;
    padding: 13px 0px;
    letter-spacing: 1px;
}

/* SUB-COMPONENT  product ingredients */
.product__ingredients {
    width:75%;
    border-radius:12px;
    padding:15px;
    /* margin-top:40px ; */
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 17px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 2px 17px 4px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 1px 2px 17px 4px rgba(0, 0, 0, 0.11);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-items: self-start;
    grid-row-gap:1rem;
}

.ingredient__container{
    display:flex;
    align-items:center;
}

.ingredient_icon{
    height:25px;
    margin-right: 10px;
}
.ingredient_weight {
    font-size: 0.8rem;
    color:var(--lightgrey)
}
.ingredient_name {
    font-size: 0.8rem;
    color:var(--darkblue);
    line-height: 1rem;
}

/* COMPONENT  menu bar style */
.menu__bar{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    height:140px;
    position: relative;
}

nav {
    position:absolute;
    top : 20%;
    display: inline-block;
    border-bottom: 1px solid rgba(139, 139, 139, 0.322);

}

.menu__item{
    list-style: none;
    display: inline-block;

}

.menu__item  a {
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight:500;
    letter-spacing:1px;
    color: var(--textcolor);
    display: inline-block;
    

}
.menu__item  a::before{
    content:"";
    position:absolute;
    width:0%;
    height:4px;
    background-color:#6a71c9;
    bottom: -3px;
    border-radius:3px;
    left: 0;
    transition: all 0.3s;
}

.menu__item  a:hover:before{
    width:100%;
}


/* COMPONENT  preview container */

.preview__container{
    width:90%;
    margin:1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-column-gap: 0px !important;
    grid-row-gap: 3rem;
    position: relative;
    min-height: 150px;
    /* background-color:red; */
}

.preview__card{
    width: 100%;
    height:270px;
    position:relative;
}

.back__line{
    position:absolute;
    width:100%;
    height:50%;
    background-color: #f8f8f8;
    transform: translateY(-50%);
    top:50%
}
.preview__product{
    height:85%;
    width: 75%;
    background-color:white;
    position:absolute;
    right:0%;
    transform: translateX(-15%);
    display: block;
    border-radius:16px;
    box-shadow: 1px 2px 17px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 2px 17px 4px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 1px 2px 17px 4px rgba(0, 0, 0, 0.11);
    transition: all 0.3s;
}

.preview__product::before{
    content: "";
    position:absolute;
    bottom: 0;
    border-radius: 16px 16px 16px 16px ;
    width:0%;
    height: 100%;
    z-index: 0;

}

.preview__product:hover:before{
    width: 100%;
   
}

.preview__product:hover{
    position:absolute;
    margin-top:-20px;
}


.preview__picture{
    width:60%;
    height:60%;
    position:absolute;
    left: 50%;
    transform: translate(-50%);
    top: -20%;
}
.preview__picture img {
    width:95%;
    height:95%;
    object-fit: scale-down;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(189, 189, 189));
    filter: drop-shadow(5px 5px 10px rgba(143, 143, 143, 0.705));
}

.preview__product__details{
    position:absolute;
    width:100%;
    height:50%;
    top: 40%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-around;
}

.preview__product__title{
    font-size:0.9rem;
    font-weight: 500;
    color: var(--darkblue);
    display: block;
}

.preview__product__ingredients{
    font-size:0.7rem;
    font-weight: 300;
    color: var(--lightgrey);
    text-align: center;
}

.preview__product__price{
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--darkblue);
}

.preview__product__price span{
    color: var(--red);
    font-family: "Poppins", sans-serif;
}

.btn__preview__add{
    position:absolute;
    cursor: pointer;
    bottom: -6%;
    left:50%;
    transform: translate(-50%);
    border:none;
    background-color: var(--red);
    width:35px;
    height: 35px;
    border-radius:50%;
    font-size: 1.2rem;
    color:white;
    font-weight:300;
    -webkit-box-shadow: -1px 10px 22px -5px rgba(234,55,105,0.49); 
    box-shadow: -1px 10px 22px -5px rgba(234,55,105,0.49);
}

/* COMPONENT  paginator style */

.paginator__container {
    width:100%;
    padding: 1rem;
    
}

.paginator {
    margin: auto auto;
    display: flex;
    justify-content: space-evenly;
    width:240px
}

.paginator__button{
    position: relative;
    transition: all 0.5s;
    display:block;
    background-image: linear-gradient(to right, #6c6fc7c5, #9862be, #bd52ab, #d7418f, #e7386cc9);
    border:none;
    cursor: pointer;
    font-size:0.8rem;
    font-weight: 400;
    text-transform: uppercase;
    color:white;
    border-radius: 12px;
    padding: 6px 16px;
    letter-spacing: 1px;
    z-index: 2;
}

.fa-chevron-left{
    margin-right: 5px;
}
.fa-chevron-right{
    margin-left: 5px;
}



.paginator__button::before {
    content: '';
    position: absolute;
    border-radius: 12px;
    top: 0;
    left: 0;
    width:0%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    background: rgb(231,56,109);
    background: linear-gradient(90deg, rgb(255, 0, 76) 0%, rgb(53, 56, 255)100%);
    transition: all 0.3s;
  }
  
.paginator__button:hover:before {
    opacity: 1;
    width: 100%;
}



/* COMPONENT  spinner design */

.ring
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:110px;
  height:110px;
  background:transparent;
  border:3px solid rgba(7, 7, 7, 0.082);
  border-radius:50%;
  text-align:center;
  line-height:110px;
  font-weight: 600;
  font-size:12px;
  color:var(--darkblue);
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px #0303033f;
  box-shadow:0 0 20px rgba(0, 0, 0, 0.14);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #6c6fc7c5;
  border-right:3px solid #6c6fc7;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.ring span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.ring span:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#6c6fc7;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #6c6fc7;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}